.title {
  text-align: center;
  color: rgb(236, 232, 240);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 70px 0 30px;
}
.title h1 {
  font-size: 32px;
  color: rgb(14, 13, 12);
  margin-top: 5px;
  text-transform: none;
}
.title p {
  color: rgb(14, 13, 12);
}
