.video-player {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video-player video {
  width: 80%;
  height: auto;
  border: 4px solid #fff;
  max-width: 900px;
}
.video-player.hide {
  display: none;
}
