.campus {
  margin: 80px auto;
  text-align: center;
  width: 90%;
}
.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.gallery img {
  width: 24%;
  border-radius: 10px;
}
.dark-btn {
  background: #212ea0;
  color: white;
}

@media (max-width: 800px) {
  .gallery {
    flex-wrap: wrap;
  }
  .gallery img {
    width: 48%;
    margin-bottom: 25px;
  }
}
